
.Consamp {
  background: #000;
  
  color: #ccc;
  display: block;
  
  
  
  
  overflow-wrap: break-word;

  
}

.inpCon {

color: #ccc; 
  background-color: black; 
  border:0;
  outline-width: 0;

}


